<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>without bootstrap</title>
  <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
    integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
    crossorigin="anonymous"></script>
  <link href="./summernote/summernote-lite.min.css" rel="stylesheet">
  <script src="./summernote/summernote-lite.min.js"></script>
  <script src="./summernote/lang/summernote-vi-VN.min.js"></script>
  <style>
   html{
    scroll-behavior: smooth;
   }
  </style>
</head>

<body>
  <button onclick="generateTableOfContents()">Tạo Mục Lục</button>
  <button id="edit" class="btn btn-primary" onclick="edit()" type="button">Edit 1</button>
  <button id="save" class="btn btn-primary" onclick="save()" type="button">Save 2</button>
  <div id="summernote"></div>
  <script>
    $.extend($.summernote.plugins, {
      'tocButton': function (context) {
        var ui = $.summernote.ui;
        var $note = context.layoutInfo.note;
        var $editor = context.layoutInfo.editor;
        var $editable = context.layoutInfo.editable;
        var $toolbar = context.layoutInfo.toolbar;

        var button = ui.button({
          contents: '<i class="fa fa-list-alt"/> Tạo mục lục',
          tooltip: 'Tạo Mục Lục',
          click: function () {
            generateTableOfContents();
          }
        });

        $toolbar.append(button.render());

        function generateTableOfContents() {
          var toc = "<ul>";

          $editable.find('h1, h2, h3, h4, h5, h6').each(function () {
            var id = $(this).attr('id') || $(this).text().replace(/\s+/g, '-').toLowerCase();
            $(this).attr('id', id);
            var tag = $(this).prop("tagName").toLowerCase();
            toc += "<li class='" + tag + "'><a href='#" + id + "'>" + $(this).text() + "</a></li>";
          });

          toc += "</ul>";

          context.invoke('editor.pasteHTML', toc);
        }
      }
    });

    $('#summernote').summernote({
      // placeholder: 'Hello stand alone ui',
      // tabsize: 2,
      height: 400,
      toolbar: [
        ['style', ['style']],
        ['font', ['bold', 'underline', 'clear', 'italic']],
        ['color', ['color']],
        ['fontsize', ['fontsize']],
        ['para', ['ul', 'ol', 'paragraph']],
        ['table', ['table']],
        ['insert', ['link', 'picture', 'video']],
        ['view', ['fullscreen', 'codeview', 'help',]],
        ['hr', ['hr']],
        ['undo', ['undo']],
        ['redo', ['redo']],
      ],
      lang: 'vi-VN',
    });


    var edit = function () {
      $('#summernote').summernote({ focus: true });
    };

    var save = function () {
      var markup = $('#summernote').summernote('code');
      $('#summernote').summernote('destroy');
    };

  </script>

</body>

</html>
<!-- ['style', ['style']],
['font', ['bold', 'italic', 'underline', 'clear']],
['fontsize', ['fontsize']],
['color', ['color']],
['highlight', ['highlight']],
['align', ['ul', 'ol', 'paragraph', 'indent', 'outdent']],
['list', ['ul', 'ol']],
['indent', ['indent']],
['outdent', ['outdent']],
['paragraph', ['style', 'para', 'ul', 'ol', 'indent', 'outdent']],
['table', ['table']],
['link', ['link']],
['picture', ['picture']],
['video', ['video']],
['hr', ['hr']],
['codeview', ['codeview']],
['undo', ['undo']],
['redo', ['redo']],
['fullscreen', ['fullscreen']],
['help', ['help']] -->